<!DOCTYPE html>
<html>
  <head>
    <title>Blockchain Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/DataTables/css/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/static/css/custom.css" rel="stylesheet">
    
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Blockchain Frontend</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
        <br>
        <br>
        <h4>One more step and you are good to go:</h4>
        <br>
        <p>After Registeration, you also need to generate a pair of public key and private key. The public key is your address for receiving/sending coins,
           while the private key is required for authentiation of transaction.</p>
           
        <p> you should always keep your private key secure. This website will not save your private key.</p>
        <br>
          <div class="card-body">
            <h4 class="card-title">Wallet Generator</h4>
            <p class="card-text">Click on the button below to generate your blockchain wallet</p>
            <input type="button" class="btn btn-primary btn-lg" value="Generate Wallet">
          </div>

        </div>
      </div>
    </div>

    <br>

    <div class="container">

        <div class="row">
          <label class="col-sm-2">Public Key:</label>
          <div class="col-sm-10">
            <textarea id="public_key" rows="5" class="form-control" readonly></textarea>
          </div>
        </div>

        <br>
        
        <div class="row">
          <label class="col-sm-2">Private Key:</label>
          <div class="col-sm-10">
            <textarea id="private_key" rows="5" class="form-control" readonly></textarea>
          </div>
        </div>

        <br>

        <div class="row" id="warning" style="display:none">
          <div class="col-sm-12">
            <div class="alert alert-danger" role="alert">
              IMPORTANT
              <ul>
                <li>Save you private and public keys. These keys cannot be recovered!</li>
                <li>Don't share your private key with anyone!</li>
                <li>Click <a href="/">HERE<a> to main page after you created and saved your public and private keys.</li>

              </ul> 
            </div>
          </div>
        </div>
    </div>



    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <script>

      $(function(){
        $('input').click(function(){

          $.ajax({
            url: '/wallet/new',
            type: 'GET',
            success: function(response){
              document.getElementById("private_key").innerHTML = response['private_key'];
              document.getElementById("public_key").innerHTML = response['public_key'];
              document.getElementById("warning").style.display = "block";
            },
            error: function(error){
              console.log(error);
            }
          });
        });
      })


    </script>
