<html>
    <head>
        {% if title %}
        <title>{{ title }} - Blockchain</title>
        {% else %}
        <title>Welcome to Blockchain</title>
        <!-- Bootstrap core CSS -->
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/vendor/DataTables/css/datatables.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="/static/css/custom.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
              <a class="navbar-brand" href="#">Blockchain Frontend</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                
                  <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('index') }}">Mine</a>
                  </li>
                  {% if (current_user.is_anonymous) or (current_user.public_key is none) %}
                  <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                  </li>
                  {% else %}
                  <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('user', username=current_user.username) }}">Profile</a>
                  </li>

                  <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('wallet') }}">New Wallet</a>
                  </li>
                  
                  <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('make_transaction') }}">Transaction</a>
                  </li>

                  <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('view_transaction') }}">Transaction History</a>
                  </li>

                  <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('configure') }}">Configure</a>
                  </li>
                  
                  <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </nav>

        <hr>
        <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        </div>
    </body>
</html>
